.EditProfileWrapper{
    background: #f7f7f7;
    margin: 0 auto;
    position: relative;
padding: 30px;
display: flex;
justify-content: center;
.EditProfile{
    background-color: #fff;
    min-height: 800px;
   width: 700px;
   margin-top: 30px;
    position: relative;
    border: 1px #e5e5e5 solid;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px;
   
}

}
